/* fonts */
@font-face {
  font-family: "Kanit";
  src: url("../../public/fonts/kanit/Kanit-Regular.ttf") format("truetype");
  font-style: normal;
}

* {
  font-family: "Kanit";
  src: url("../../public/fonts/kanit/Kanit-Regular.ttf") format("truetype");
  font-style: regular;
}

/* Font2 */
/* 
@font-face {
  font-family: "nuto";
  src: url("../../public/fonts/noto/static/NotoSansThai-Regular.ttf") format("truetype");
  font-style: normal;
}

.font2 {
  font-family: "nuto";
  src: url("../../public/fonts/noto/static/NotoSansThai-Regular.ttf") format("truetype");
  font-style: regular;
} */

/* Font2 */

.bg-primary {
  background-color: #30b175 !important;
}

/* ROOT */

body {
  background-color: #eaf7f1 !important;
}

p {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-size: 16px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

span {
  font-weight: normal;
  font-size: 18px;
}

img {
  width: 100%;
}

.text-primary {
  color: #30b175 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #30b175 !important;
  border: none !important;
}

/* .btn-primary:hover{
  background-color: red !important;
} */

.btn-white {
  background-color: #fff !important;
  color: #248968;
}

.btn-white-border {
  background-color: #fff !important;
  color: #30b175 !important;
  border: 3px solid #30b175 !important;
  border-radius: 26px !important;
  padding: 8px 20px !important;
  font-size: 20px !important;
  margin: 0 32px;
  font-weight: bold !important;
}

.btn-grey {
  background-color: #a4a4a4;
  color: #fff;
}

.btn-light {
  background-color: #fff !important;
  border: 1px solid #30b175 !important;
  color: #30b175 !important;
}

.form-select {
  border: 1.47px solid #a4a4a4 !important;
}

.form-control {
  border: 1.47px solid #a4a4a4 !important;
}

/* ROOT */

.title-content {
  color: #248968;
  text-align: center;
  font-size: 46px;
  margin-bottom: 34px;
}

.invest .land-sale {
  .col-lg-4 {
    margin-bottom: 60px;
  }

  .head {
    position: relative;
  }

  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 14px;
    font-size: 24px;
    font-weight: normal;
  }

  a.btn.btn-white.font2 {
    font-size: 30px;
    padding: 6px 30px 6px 30px;
    border-radius: 26px;
    font-weight: normal;
    border: 4px solid #30b175;
    color: #30b175 !important;
  }

  .card {
    border: none;
    border-radius: 22px;
    -webkit-box-shadow: 0px 3px 5px 0px rgb(196 196 196 / 63%);
  }

  .card-body {
    padding: 20px 16px 16px 16px !important;
    border-radius: 0 0 22px 22px;
    border: 1px solid #c8c8c8;
  }

  .list {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #313131;
    font-size: 20px;
    margin-bottom: 8px;

    i {
      font-size: 24px !important;
    }
  }

  .hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }

    a:first-child {
      font-size: 30px;
      padding: 6px 30px 12px 30px;
      border-radius: 26px;
      font-weight: normal;
      color: #fff !important;
    }

    a:last-child {
      font-size: 30px;
      padding: 6px 30px 12px 30px;
      border-radius: 26px;
      border: 3px solid #248968 !important;
      color: #248968;
      text-decoration: underline;
      font-weight: normal;
    }
  }

  .card:hover .head {
    .badge {
      display: none !important;
    }

    .btn-danger {
      display: none !important;
    }
  }

  .card:hover .head .hover {
    background-color: #2489685c;

    .d-none {
      display: block !important;
    }
  }

  .view-eye {
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    right: 16px;
    bottom: 12px;

    i {
      font-size: 26px !important;
    }
  }

  .sold .head img {
    filter: brightness(0.7);
  }

  .sold .btn-danger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 6px 30px 12px 30px;
    border-radius: 26px;
    font-weight: normal;
  }

  .btn-grey {
    background-color: #a4a4a4 !important;
    color: #fff;
  }
}

.about-fin4u .btn-primary {
  font-size: 24px;
  font-weight: 700;
}

.title-main {
  text-align: center;
  background-color: #30b175;
  border-radius: 20px;
  padding: 12px;
  color: #fff;
  font-weight: bold;
}

.card-form-main {
  background-color: #fff;
  padding: 50px 40px 80px 40px;
  margin-top: -40px;
  border-radius: 26px 26px 0 0;

  .wrap {
    padding: 0 5%;
  }

  .submit-group {
    margin-top: 50px;
  }
}

.banner-regis {
  z-index: 0;
  position: relative;
}

.register-seller {
  z-index: 1;
  position: relative;

  .step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0 28px 0;
  }

  .child img {
    width: 190px;
    height: 190px;
  }

  .child p {
    margin: 0;
    text-align: center;
    font-size: 20px;
  }
}

.register-seller .sec-pass {
  margin: 40px 0;
  text-align: center;

  h2 {
    margin-bottom: 60px;
  }

  .tell {
    margin-bottom: 40px;

    p {
      margin: 0;
    }
  }

  .btn-clean {
    color: #30b175;
    text-decoration: underline;
  }
}

.register-seller .insert-id-card {
  .idcard {
    background-color: #eaf7f1;
    border-radius: 20px;

    ul li {
      font-size: 20px;
    }
  }

  .import {
    margin: 44px 0;

    .d-flex {
      margin-bottom: 60px;
      column-gap: 44px;
      margin-left: 30px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 14px;
      padding: 8px 38px;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.text-require {
  color: #f04141;
}

.submit-group {
  .btn-white{
    margin-bottom: 5px;
  }
  text-align: center;

  button {
    padding: 6px 70px;
    margin: 0 12px;
  }

  .btn-white {
    color: #30b175;
    border: 1px solid #dedede;
  }
}

.btn-clean {
  background-color: #fff0;
  border: none;
}

.otp-password {
  margin-bottom: 40px;
  height: 66px;
  text-align: center;

  .d-flex {
    display: flex !important;
    column-gap: 26px;
    height: 100%;
    justify-content: center;
  }

  input {
    text-align: center;
    font-size: 24px;
    width: 50px;
  }
}

.upload-btn-group {
  display: flex;
  margin-left: 30px;
  margin-bottom: 15px;

  .group {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    padding: 14px;
  }

  span {
    margin-bottom: 8px;
  }

  img {
    width: 25px;
    height: 25px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 8px 0px;
    border-radius: 20px;
  }

  .csbtn1 {
    padding: 8px 21px;
    border-radius: 8px;
  }
}

.show-image-upload {
  margin-bottom: 20px;
  gap: 3px;
  img {
    width: 135px;
    height: 95px;
    object-fit: fill;
    border: #959595 1px solid;
    border-radius: 5px;
  }
}

.fintips .nav-tabs {
  margin: 0 30px 60px;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #d3d3d3;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  justify-content: space-around;

  .nav-link {
    color: #a4a4a4;
  }

  .nav-link.active {
    color: #30b175;
    text-decoration: underline;
    border: none;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #a4a4a4;
  font-size: 18px !important;
}

.nav-link {
  font-size: 18px !important;
}

.navbar-expand-lg .navbar-nav {
  column-gap: 32px;
}

.navbar-nav > .nav-item.nav-active,
.register > .nav-item.nav-active {
  color: #000;
  font-weight: 600;
}

.fintips-detail {
  .date img {
    width: 25px;
    height: 20px;
  }

  .date span {
    color: #a4a4a4;
    margin-left: 12px;
    margin-bottom: 12px;
    display: inline-block;
  }

  .card-body p:nth-child(2) {
    font-size: 20px;
    color: #30b175;
  }

  .card-body p:nth-child(4) {
    text-decoration: underline;
    color: #4e5ffa;
  }
}

.panigation-main {
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem;

  .pagination {
    margin: 0;
    column-gap: 20px;
  }

  .page-link {
    color: #a4a4a4;
    border-radius: 6px;
    background-color: #fff0;
    border: 1px solid #30b176;
  }

  .pagination .custom {
    background-color: #fff0;
    border: none;
  }

  .page-link.active {
    background-color: #30b176 !important;
    border: none;
  }
}

.ragister-content {
  padding: 6rem 0 2rem 0;
  margin: 0 0 0 0;
  background-image: url(../../public/bg-graphic.png);
  background-repeat: no-repeat;

  h4 {
    text-align: center;
    margin: 0 0 5rem 0;
    font-weight: bold;
    font-size: 30px;
  }

  .btn-wrap {
    margin: 3rem 0rem;
    text-align: center !important;
  }
}

.ragister-content .group {
  text-align: center;

  img {
    width: 90%;
  }

  p:nth-child(2) {
    color: #30b175;
    font-size: 24px;
    margin: 16px 0 10px 0;
  }

  p:nth-child(3) {
    color: #a4a4a4;
    font-size: 18px;
    margin: 0;
  }

  p:nth-child(4) {
    color: #a4a4a4;
    font-size: 20px;
    margin: 0;
  }
}

.about-fin4u {
  padding: 3rem 0 6rem;
  background-color: #f0f2f5;
}

.story {
  background-image: url(../../public/bg-story.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0 8rem;

  .title-content {
    color: #fff;
    margin-bottom: 50px;
  }

  img {
    width: 80px;
  }

  .card {
    padding: 30px 26px;
  }

  .name {
    font-size: 20px;
    margin: 22px 0 0px;
  }

  .position {
    color: #a4a4a4;
    margin-bottom: 30px;
  }

  .detail {
    font-size: 20px;
  }
}

.tips {
  padding: 4rem 0 6rem 0;
  background-color: #fff;

  .title-content {
    text-align: left;
    margin-bottom: 60px;
  }

  .card {
    background-color: #ffffff00;
    border: none;
  }

  .card-body {
    background-color: #ffffff00;
    padding-left: 0;
    padding-right: 0;
  }

  .d-flex {
    margin: 0 16px 0 0;
    font-size: 20px;
    color: #4e5ffa !important;
    text-decoration: underline !important;
  }

  .see-all {
    font-size: 20px;
    border-radius: 12px;
    margin-top: 36px;
  }
}

.register-banner {
  position: relative;

  .btn {
    border: 4px solid #30b175;
    border-radius: 36px;
    padding: 10px 24px;
    color: #30b175;
    font-weight: bold;
    font-size: 24px;
  }

  .row {
    bottom: 20%;
  }
}

.property-sale .container-fluid {
  background-color: #fff;

  .title-content {
    padding: 3rem 0;
  }
}

.property-sale .panigation-main .page-link {
  background-color: #fff;
}

.property-sale .filter select {
  border: 1px solid #a4a4a4;
  color: #a4a4a4;
}

.search-group {
  display: flex;
  column-gap: 6px;
  align-items: center;

  #Select1 {
    border-radius: 18px;
  }

  .form-label {
    margin-bottom: 0;
    background-color: #f2f2f2;
    padding: 7px 14px;
    border-radius: 7px;
  }
}

.land-sale-2 {
  margin: 3rem 0;
  .property-item {
    overflow: hidden;
    border-radius: 15px;
  }
  .relative {
    position: relative;
  }

  .badge {
    position: absolute;
    top: 6px;
    left: -10px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 22px;
    border: 1px solid #30b175;
    font-weight: normal;
  }

  .time {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    align-items: normal;

    .text-center {
      padding: 4px 12px 4px 12px;
    }
  }

  .time p {
    color: #000;
    font-size: 22px;
    margin-bottom: 6px;
  }

  .time .text-warning {
    color: #ff0000 !important;
    font-size: 22px;
    margin-bottom: 0px;
  }

  .icon {
    background-color: #30b175;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 32px;
    color: #fff;
  }

  .col-lg-7,
  .col-lg-5 {
    padding: 0;
  }

  .btn-sold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .not-sale {
    .btn-sold {
      display: none;
    }
  }

  .sale-active .fade-img {
    filter: brightness(0.7);
  }

  .sale-active .icon {
    background-color: #f04141;
  }

  .row {
    margin-bottom: 30px;
  }

  .item-image {
    border: #e9e9e9 1px solid;
    width: 100% !important;
    height: 377px !important;
    object-fit: fill;
    background-color: rgb(176, 176, 176);
  }
}

.locataion {
  background-color: #fff;
  height: 100%;

  p {
    background: #f2f2f2;
    display: inline-block;
    padding: 14px 24px;
    border-radius: 20px;
    border: 1px solid #d3d3d3;
    color: #313131;
    margin-bottom: 36px;
  }

  ul {
    padding: 0;
  }

  li {
    display: flex;
    column-gap: 18px;
    margin-bottom: 14px;
  }

  img {
    width: 30px;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
  }
}

.btn-sold {
  background-color: #f04141 !important;
  color: #fff !important;
  font-size: 26px !important;
  font-weight: bold !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.property-sale-detail {
  .col-lg-3 img {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    height: 170px;
  }

  .col-lg-9 a {
    height: 100%;
  }
}

.property-sale-detail .time {
  .d-flex {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d3d3d3;
  }

  .bg-red {
    background-color: #f04141 !important;
  }

  .icon {
    background-color: #30b175;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    font-size: 30px;
    color: #fff;
    margin-right: 30px;
  }

  .sold {
    background-color: #f04141;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }

  span {
    font-size: 22px;
  }
}

.photo-gallery .locataion {
  padding: 0;
}

.property-sale-detail .location {
  margin: 2rem 0 2rem 0;
  padding-bottom: 1rem !important;
  border-bottom: 2px solid #ecdede;

  .badge {
    padding: 12px 16px;
    background-color: #30b175;
    font-size: 16px;
    margin-top: 10px;
  }

  .float-right {
    padding: 12px 16px;
    background-color: #30b175;
    font-size: 22px;
    margin-top: -10px;
    border-radius: 10px;
    color: #fff !important;
    float: inline-end;
  }
}

.property-sale-detail .locataion ul li:first-child {
  display: flex;
  justify-content: space-between;

  .cust {
    display: flex;
    column-gap: 18px;
  }

  .manage {
    color: #30b175;
    border: 1px solid #d3d3d3;
    padding: 4px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
}

.property-sale-detail .detail {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 26px;
}

.property-sale-detail .badegroup {
  display: flex;
  column-gap: 12px;

  .badge {
    background-color: #a4a4a4;
    padding: 10px;
    font-size: 16px;
  }
}

.invest-notice .card-form-main {
  margin: 0;
  border-radius: 0;
}

.invest-notice .title-main {
  margin: 0 9rem;
}

.fin-tips-interest .detail {
  background-color: #fff;
  border-radius: 40px;
  padding: 2rem 3rem;
  margin-top: -109px;
  z-index: 1;
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 6rem;

  .share-icon {
    width: 54px;
    display: inline;
  }
}

.fin-tips-interest .head {
  h4 {
    color: #30b175;
    font-size: 30px;
    margin-bottom: 18px;
  }

  .sub {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #30b175;
    border-bottom: 3px solid #30b175;

    p {
      margin-bottom: 0.2rem;
    }
  }
}

.fin-tips-interest .submit-group {
  margin-bottom: 4rem;
}

.consignment-index .register-seller .title-main {
  color: #30b175;
  background-color: #fff0;
  font-size: 30px;
}

.consignment-index .step {
  margin: 60px 0 100px 0;
}

.btn-icon {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  background-color: #30b175;
  margin: 0 auto;
  display: inline-block;
  padding: 8px 18px;
  vertical-align: middle;
  color: #fff !important;

  img {
    width: 22px;
  }
}

.consignment-add {
  h4 {
    margin: 2rem 0 3rem 0;
  }
}

.consignment-warning {
  .title-main {
    margin: 0 4rem;
  }

  .wrap {
    margin-bottom: 7rem;
  }

  .child {
    text-align: center;
  }
}

.consignment-form .card-form-main {
  margin: 0;
  border: 0;
}

.consignment-form2 {
  .badge {
    bottom: 14px;
    left: 14px;
    border: 0;
    padding: 14px;
    position: absolute;
    top: inherit;
  }

  .not-sale .badge {
    color: #4e5ffa;
  }

  .sale-success .badge {
    color: #30b175;
  }
}

.consignment-form2 .date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  p {
    font-size: 18px !important;
    color: #30b175 !important;
    margin: 0;
    background-color: #f2f2f2;
    border-radius: 18px;
    border: none;
  }

  .d-flex {
    background-color: #f2f2f2;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border-radius: 18px;

    span {
      padding: 13px;
    }
  }
}

.consignment-form2 {
  li {
    align-items: center;
    margin-bottom: 20px;
  }

  .custom {
    justify-content: space-between;
  }

  .custom .d-flex {
    column-gap: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .group-menu {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    padding: 4px 14px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: #30b175;

    img {
      width: 24px;
    }
  }

  .group-menu-2 {
    display: flex;
    column-gap: 8px;

    .group {
      background-color: #fff;
      border: 1px solid #d3d3d3;
      padding: 4px 14px;
      border-radius: 8px;
      color: #30b175;
    }

    img {
      width: 22px;
    }
  }
}

.consignment-form3 {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
  }

  span {
    color: #a4a4a4;
  }

  .row4 {
    padding: 0 0 0 4rem;
  }

  .bg-promary {
    background-color: #ebf7f1;
    padding: 2px 10px;
    border-radius: 6px;
    color: #000;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .doc {
    display: flex;
    column-gap: 16px;
    font-size: 20px;

    span {
      margin: 0;
      color: #30b175;
      text-decoration: underline;
    }
  }
}

.add-investment .ragister-content {
  background-image: url(../../public/bg-opacity.png);
}

.navbar-main {
  padding: 0 !important;
  background-color: #fff !important;

  .navbar-brand {
    padding: 0 !important;
    display: inline-block;
    width: 9%;

    img {
      position: absolute;
      left: 20px;
      width: 130px;
      height: auto;
      top: -8px;
    }
  }

  .navbar-collapse {
    color: #30b175;
  }

  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
  }
}

.btn-register {
  background: #248968 !important;
  display: flex !important;
  flex-direction: row;
  column-gap: 12px;
  color: #fff !important;

  p {
    margin: 0;
  }

  img {
    width: 26px;
  }
}

.footer-main .group-ad {
  display: flex;
  column-gap: 36px;

  .d-flex {
    column-gap: 18px;
  }

  img {
    width: 24px;
  }

  span {
    font-size: 18px;
  }
}

.footer-main .other-link {
  flex-direction: column;
  row-gap: 26px !important;
  display: flex;

  img {
    width: 40px;
  }
}

.footer-main {
  background-image: url(../../public/bg-footer.png);
  background-color: #018b68;
  background-repeat: no-repeat;

  .wrap {
    padding: 2rem 12%;
    color: #fff;
  }

  .head {
    font-size: 26px;
  }
}

.contactus .container {
  background-color: #fff;
  padding: 2rem 0;

  .tiptle-head {
    background-color: #30b175;
    margin: 0 0 3rem 0;
    color: #fff;
    text-align: center;
    padding: 14px 0;
  }

  .d-flex {
    align-items: center;
    column-gap: 12px;
  }

  .content {
    padding: 0 12rem;
  }

  .map {
    text-align: center;
    margin: 3rem 0 4rem 0;
  }
}

.investment-form {
  .wrap {
    background-color: #fff;
  }

  .title-content {
    padding: 5rem;
    margin-top: 42px;
  }

  .title {
    background-color: #30b175;
    padding: 16px 30px 16px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .form {
    padding: 0 8rem;
  }
}

.investment-form2 {
  .title-main {
    border-radius: 0;
    background: #fff;
    color: #248968;
    font-size: 30px;
    margin: 0px 0px 0 0px !important;
    padding: 0 !important;
  }

  .card-form-main {
    margin: 40px 0 0 !important;
    border-radius: 0;
  }

  .relative {
    height: 100%;

    img {
      height: 100%;
    }
  }

  .locataion {
    padding: 0 !important;
    position: relative;
  }

  .group-menu-2 {
    display: flex;
    row-gap: 22px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

.modallogin {
  .col-lg-4 {
    border-radius: 16px 0px 0px 16px;
    background: linear-gradient(
      332deg,
      rgba(48, 177, 117, 1) 81%,
      rgba(91, 220, 160, 1) 100%
    );
  }
}

.modallogin .left {
  padding: 3rem 1rem;
  color: #fff;

  .list {
    display: flex;
    align-items: baseline;
    column-gap: 16px;
    margin-bottom: 10px;

    img {
      width: 25px;
    }
  }

  .text-center img {
    margin-top: 2rem;
    width: 64%;
  }
}

.modallogin .left .font2:first-child {
  color: #fff;
  font-size: 52px;
}

.modallogin .left h2:nth-child(2) {
  margin-bottom: 2rem !important;
  font-size: 40px;
}

.modallogin .or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  span {
    width: 37%;
    display: inline-block;
    height: 1px;
    background-color: #30b175;
    margin: 0 10px;
  }

  small {
    color: #a4a4a4;
  }
}

.modallogin .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;

  .btn {
    background-color: #f6f6f6;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    width: 46%;
    border-radius: 14px;
  }

  img {
    width: 34px;
  }

  span {
    font-size: 24px !important;
    color: #248968;
    margin: 0 4px;
  }
}

.modallogin .line {
  width: 100%;
  height: 1px;
  background-color: #a4a4a4;
}

.modallogin .right {
  padding: 16px 16px 16px 16px;

  .title {
    color: #248968;
    text-align: left;
    margin: 20px 20px 20px 0px;
  }

  label {
    color: #a4a4a4;
    font-size: 20px;
  }

  .forgotpass {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: #30b175;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.modallogin {
  .btn-primary {
    width: 100%;
    margin: 17px 0px 26px 0px;
    font-size: 28px;
  }
}

.modallogin .regis {
  text-align: center;
  margin-top: 12px;

  .text-primary {
    color: #30b175 !important;
  }
}

#modalforgot .text-center img {
  margin-top: 1rem;
  width: 40%;
}

#modalforgot .modallogin .left {
  padding: 1rem 1rem;
  color: #fff;

  .font2 {
    margin-top: 1rem !important;
  }
}

#modalforgot .col-lg-8 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-expand-lg .container-fluid {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 22px !important;
}

#modalinterest .modal-header {
  justify-content: center;
}

.modal-main {
  .modal-header {
    justify-content: center;
  }

  h5 {
    font-size: 30px;
    color: #30b175;
    font-weight: bold;
  }

  .modal-header .btn-close {
    position: absolute;
    right: 14px;
    top: 14px;
  }
}

.color-white {
  color: #fff !important;
}

#modal-notsale {
  .wrap {
    display: flex;
    align-items: center;
  }

  .text-secondary {
    width: 130px;
    margin: 0 0 0 8px;
    font-size: 16px;
  }

  .form-label {
    color: #000;
    font-size: 18px;
  }
}

#modal-sale {
  .wrap {
    display: flex;
    align-items: center;
  }

  .text-secondary {
    width: 130px;
    margin: 0 0 0 8px;
    font-size: 16px;
  }

  .form-label {
    color: #000;
    font-size: 18px;
  }
}

.ragister-content .btn-primary {
  background: linear-gradient(
    0deg,
    rgba(48, 177, 117, 1) 0%,
    rgba(91, 220, 160, 1) 100%
  );
  font-size: 28px;
  border-radius: 40px;
  padding: 16px 38px;
}

.ragister-content .btn-primary:hover {
  background: rgba(48, 177, 117, 1);
}

.home .content2 {
  margin: 0;
  padding: 6rem 0 4rem 0;
  background-color: #f5fbf8 !important;
  background-image: none !important;
}

.ragister-content .group {
  p:nth-child(2) {
    color: #30b175;
    font-size: 26px;
    margin: 16px 0 10px 0;
  }
}

.invest .title-content {
  padding: 6rem 0 4rem 0;
  color: #248968;
  font-size: 46px;
  font-weight: bold;
}

/* .story .card:hover {
  width: 110%;
} */
.modal-image-gallery {
  .modal-content {
    position: relative;
    background-color: var(--lightbox);
    border: none;

    .modal-body {
      padding: 0;
      .show-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .modal-header {
    border: none;
  }
}

.checklogin .form-check-input {
  width: 20px;
  height: 20px;
  float: none !important;
  margin-left: 0 !important;
}

.checklogin .form-check {
  display: flex !important;
  padding: 0;
  column-gap: 20px;

  label {
    margin-left: 13px;
  }
}

.checklogin .form-check-input:checked {
  background-color: #30b175 !important;
  border-color: #30b175 !important;
}

.checklogin .form-check-input:checked {
  border-color: #30b175;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(76 175 80 / 15%);
}

#modalregister .modal-content {
  background-image: url(../../public/bg-regis.png);
  background-repeat: repeat;

  img {
    width: 88px;
    padding: 26px 2px;
  }

  .title {
    text-align: center;
    font-size: 32px;
    color: #fff;
    padding: 18px;
    border-bottom: 1px solid #fff;
  }

  .row {
    padding: 0 2rem 2rem;
  }

  .card {
    padding: 0 22px 18px 22px;
  }

  .form-check-input {
    color: #30b175;
    border-color: #30b175;
    border: none;
  }
}

#modalregister .col-lg-6:first-child .ms {
  margin-bottom: 25px;
}

.promise {
  .card {
    border-left: #018b68 4px solid;
    .card-header {
      border: none;
    }
    .card-body {
      border: none;
      .show-file-name {
        background-color: #ededed;
      }
    }
  }
}

.gmnoprint {
  display: none !important;
}
.gm-style-cc {
  display: none;
}

.loader {
  padding: 3px;
  gap: 30px;
  .load-image {
    height: 377px;
  }
  .load-detail {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    .load-items {
      width: 100%;
      height: 33.5px;
    }
  }
}

.form-control::placeholder {
  color: #a6a6a6;
}
